body,
html {
    width: 100%;
    height: 100%;
}

body{
    padding-top:100px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
#logo img{
    height: 30px;
    width: 30px;
    padding-bottom: 6px;
}
#content{
    min-height: 600px;
}
#banner_image {
    min-height: 600px;
    width: auto;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(images/banner.png) no-repeat center center;
    background-size: cover;
}
#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}
#profile_banner {
    height: 300px;
    width: auto;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(images/profile_banner.jpg) no-repeat center center;
    background-size: cover;
}
#profile_photo {
    margin-top: 220px;
    height: 150px;
}
#profile_info {
    color: black;
}
#icons img{
    height: 30px;
    width: 30px;
}
footer {
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
#profile_content {
    min-height: 550px;
}